<header class="header">
  <div class="container">
    <a class="logotype" [routerLink]="['']">Nevo.<span>solutions</span></a>
    <div class="navigation">
      <ul>
        <li><a [routerLink]="['']" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Homepage</a></li>
        <li><a [routerLink]="['login']" routerLinkActive="active-link">Login</a></li>
        <li><a [routerLink]="['register']" routerLinkActive="active-link">Register</a></li>
      </ul>
    </div>
  </div>
</header>
